<<<<<<< HEAD
.loginmu {
    display: flex;
    align-items: center;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    zoom: 1;
    background: url(../images/鸽.jpg);
    background-repeat: no-repeat;
}

.login {
    border-radius: 15px;
    background-clip: padding-box;
    margin: 180px auto;
    width: 350px;
    padding: 15px 35px 15px 35px;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 25px #cac6c6;
}

.login-go {
    width: 100%;
}

h3 {
    margin: 0px auto 40px auto;
    text-align: center;
=======
.loginmu {
    display: flex;
    align-items: center;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    zoom: 1;
    background: url(../images/鸽.jpg);
    background-repeat: no-repeat;
}

.login {
    border-radius: 15px;
    background-clip: padding-box;
    margin: 180px auto;
    width: 350px;
    padding: 15px 35px 15px 35px;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 25px #cac6c6;
}

.login-go {
    width: 100%;
}

h3 {
    margin: 0px auto 40px auto;
    text-align: center;
>>>>>>> 7454ae7dc0c594d388f31b6970a622dfed507a79
}